<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.georgi.shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/shop"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity">
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activities.ForgotActivity" />
        <activity android:name=".Activities.ViewProductActivity" />
        <activity android:name=".Activities.FindProductActivity" />
        <activity android:name=".Activities.FavoriteProductsActivity" />
        <activity android:name=".Activities.ShoppingBasketActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.NotificationActivity" />
        <activity android:name=".Activities.DeliverInfoActivity" />
        <activity android:name=".Activities.ShopInfoActivity" />
        <activity
            android:name=".Activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/NoActionBar"></activity>
    </application>

</manifest>